@{
    ViewData["Title"] = "Lista de Vehículos";
}

<h2>Catálogo de vehículos</h2>
<p>Aquí puedes listar todos los grupos...</p>


<section id="catalogo" class="py-5 text-center">
    <div class="container">

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100 shadow">
                    <img src="~/imagenes/camioneta.png" class="card-img-top" alt="Camioneta">
                    <div class="card-body">
                        <h5 class="card-title">Camioneta Familiar</h5>
                        <p class="card-text">Espaciosa, ideal para viajes largos.</p>
                        <a href="#" class="btn btn-primary">Reservar</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow">
                    <img src="~/imagenes/chevroletNi.png" class="card-img-top" alt="Chevrolet Ni">
                    <div class="card-body">
                        <h5 class="card-title">Chevrolet Ni</h5>
                        <p class="card-text">Diseño moderno y eficiente en combustible.</p>
                        <a href="#" class="btn btn-primary">Reservar</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow">
                    <img src="~/imagenes/joy.png" class="card-img-top" alt="Chevrolet Joy">
                    <div class="card-body">
                        <h5 class="card-title">Chevrolet Joy</h5>
                        <p class="card-text">Compacto y económico, perfecto para la ciudad.</p>
                        <a href="#" class="btn btn-primary">Reservar</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow">
                    <img src="~/imagenes/joysedan.png" class="card-img-top" alt="Joy Sedán">
                    <div class="card-body">
                        <h5 class="card-title">Joy Sedán</h5>
                        <p class="card-text">Espacioso y cómodo para toda la familia.</p>
                        <a href="#" class="btn btn-primary">Reservar</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow">
                    <img src="~/imagenes/mioneta.png" class="card-img-top" alt="Mioneta">
                    <div class="card-body">
                        <h5 class="card-title">Mioneta Compacta</h5>
                        <p class="card-text">Perfecta para carga ligera y uso urbano.</p>
                        <a href="#" class="btn btn-primary">Reservar</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow">
                    <img src="~/imagenes/spark2.png" class="card-img-top" alt="Chevrolet Spark">
                    <div class="card-body">
                        <h5 class="card-title">Chevrolet Spark</h5>
                        <p class="card-text">Compacto, práctico y de bajo consumo.</p>
                        <a href="#" class="btn btn-primary">Reservar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>