@using System.Security.Claims
@{
    var user = User;
}

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark py-3 animate__animated animate__fadeInDown">
    <div class="container d-flex align-items-center justify-content-between">

        <!-- Logo -->
        <a class="navbar-brand text-white text-center" asp-controller="Home" asp-action="Index">
            <div class="fw-bold mb-0" style="letter-spacing: 5px;">ANDA</div>
            <small class="text-uppercase" style="font-size: 0.75rem;">Car Rental</small>
        </a>

        <!-- Menú colapsable -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menú principal -->
        <div class="collapse navbar-collapse justify-content-center align-items-center" id="navbarNav">
            <ul class="navbar-nav gap-3 align-items-center me-3">
                <li class="nav-item">
                    <a class="nav-link nav-animated text-white" asp-action="Index" asp-controller="Home">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-animated text-white" href="#catalogo">Catalogo</a>
                <li class="nav-item">
                    <a class="nav-link nav-animated text-white" href="#about">Sobre nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-animated text-white" href="#services">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-animated text-white" href="#">Revisar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-animated text-white" asp-action="Contacto" asp-controller="Home">Contacto</a>
                </li>
            </ul>
        </div>

        <!-- Botón Reserve -->
        <div class="d-none d-lg-block ms-3">
            <a class="btn btn-primary rounded-pill px-4 py-2 animate__animated animate__pulse animate__infinite reserve-btn"
               asp-controller="Vehiculo" asp-action="Crear">
                Reserva ahora
            </a>
        </div>

    </div>
</nav>
